*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 10px;

}

body{
	width: 100%;
	height: 100vh;
	background-color: #eee;
	display: flex;

}

.container{
	width: 100%;
	max-width: 120rem;
	margin: auto;
	padding: 0 1.5rem
}

.image-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1.5rem;
	grid-template-areas: 
		'img-1 img-2 img-3 img-4'
		'img-5 img-6 img-7 img-8'
		'img-9 img-10 img-11 img-12'
		'img-13 img-14 img-15 img-16'
}

.image-gallery a{
	width: 100%;
	height: 25rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.image-gallery a i{
	color: rgba(255,255,255, .6); 
	font-size: 3rem;
	position: relative;
	z-index: 100;
	padding: 1rem 3rem; 
	border: 2px solid rgba(255,255,255, .6);
	border-radius: .4rem;
	opacity: 0;
	transition: opacity .5s;

}


.image-gallery a::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .8);
	opacity: 0%;
	transition: opacity .5s;
}


.image-gallery a:hover i, 
.image-gallery a:hover::before{
	opacity: 1;
}


.img-1{
	grid-area: img-1;
	background-image: url("https://1.bp.blogspot.com/-rNuTpf4BlJk/YFoBqzxO0PI/AAAAAAAAABM/KrvGs1jKTPQzk0mzlfuqYFPV9qs_uP1hQCNcBGAsYHQ/s2048/1.jpeg");
}

.img-2{
	grid-area: img-2;
	background-image: url("https://1.bp.blogspot.com/-AhNNieJ4wDQ/YFoktyHNYFI/AAAAAAAAABU/mt3iHknzJeEaKMzgXX-74x29pH7B8qhbACNcBGAsYHQ/s2048/2.jpeg");
}

.img-3{
	grid-area: img-3;
	background-image: url("https://1.bp.blogspot.com/-mA08Acw8NOE/YFolKzv-yQI/AAAAAAAAABc/PIl27Zp9U4g8CK5bgazPKfMNM0s5Jh07QCNcBGAsYHQ/s2048/3.jpeg");
}

.img-4{
	grid-area: img-4;
	background-image: url("https://1.bp.blogspot.com/-uLeJ7EiwuEE/YFolbqe14aI/AAAAAAAAABk/lHtKSh5f0B8kJPYJXNLPd3-WBVXTJiVcQCNcBGAsYHQ/s2048/4.jpeg");
}

.img-5{
	grid-area: img-5;
	background-image: url("https://1.bp.blogspot.com/-APPz7Zf8XBM/YFol1mdyP7I/AAAAAAAAABs/SiP1T_eeaMg52vJR4HTQLILXa76pxBexgCNcBGAsYHQ/s2048/5.jpeg");
}

.img-6{
	grid-area: img-6;
	background-image: url("https://1.bp.blogspot.com/-RwwRP-6cNYo/YFomebJ13AI/AAAAAAAAAB0/9BKTyihUewENXqrFWdzNMAeIw7gs3ktxQCNcBGAsYHQ/s2048/6.jpeg");
}

.img-7{
	grid-area: img-7;
	background-image: url("https://1.bp.blogspot.com/-_F250DLlrmc/YFomv2nV5oI/AAAAAAAAAB8/pUgcIXjc1ZQA36hu-SKBdGwuWKcTCTV2wCNcBGAsYHQ/s2048/7.jpeg");
}

.img-8{
	grid-area: img-8;
	background-image: url("https://1.bp.blogspot.com/-EFTSECKCh-I/YFonCamZrLI/AAAAAAAAACE/3jizaAB6Df8R6e9DWGN7AspRi7J9PrLygCNcBGAsYHQ/s2048/8.jpeg");
}

.img-9{
	grid-area: img-9;
	background-image: url("https://1.bp.blogspot.com/-7CtDhJyW9HM/YFonaMikjPI/AAAAAAAAACQ/C2U_0GfeYpIfmoSQIluwl7ftZRtaiprPgCNcBGAsYHQ/s2048/9.jpeg");
}

.img-10{
	grid-area: img-10;
	background-image: url("https://1.bp.blogspot.com/-mAc5LPqbAVU/YFooj3vY5mI/AAAAAAAAACc/496fhbOkDYUB5OqTVhjtYB2RbmENpl_OACNcBGAsYHQ/s2048/10.jpeg");
}

.img-11{
	grid-area: img-11;
	background-image: url("https://1.bp.blogspot.com/-K0Z8xh6og4w/YFopFpnUCTI/AAAAAAAAACk/J8trmzf7cqwb3seXxkoeOcLJEb7Kn56iQCNcBGAsYHQ/s1024/11.jpeg");
}

.img-12{
	grid-area: img-12;
	background-image: url("https://1.bp.blogspot.com/-JOP8dCNAWhw/YFopWJLSCvI/AAAAAAAAACs/v17dZtJF1GE1mnp1d8VRx0qcgbSRhhJ0QCNcBGAsYHQ/s2048/12.jpeg");
}

.img-13{
	grid-area: img-13;
	background-image: url("https://1.bp.blogspot.com/-E-1X7sbRLDw/YFoqR1785xI/AAAAAAAAAC0/8ztxtfYWG44pY77ljkjH5VzPyRjghPaWACNcBGAsYHQ/s2048/13.jpeg");
}

.img-14{
	grid-area: img-14;
	background-image: url("https://1.bp.blogspot.com/-Lk8y_l3BH7c/YFoqj0vcz4I/AAAAAAAAAC8/-4ZI_xRD2CIVpKa0_CsSBhzToq2DHq52QCNcBGAsYHQ/s2048/14.jpeg");
}

.img-15{
	grid-area: img-15;
	background-image: url("https://1.bp.blogspot.com/-nCro8Mp0gGg/YFoqyTlAJdI/AAAAAAAAADA/Dza8YmcKn2c7Hm86GkQQIKiOeYcQIowmgCNcBGAsYHQ/s2048/15.jpeg");
}

.img-16{
	grid-area: img-16;
	background-image: url("https://1.bp.blogspot.com/-gn6Yu9ofRZQ/YForA9ZLXgI/AAAAAAAAADI/n3rCngwpjb4rIRK5FOgJFd0vkxYFzpJ_QCNcBGAsYHQ/s2048/16.jpeg");
}




@media screen and (max-width: 900px){
	.image-gallery{
		grid-template-areas: 
			'img-1 img-2 img-3';
	}

}
/*
.image-gallery a{
	height: 20rem;
}

*/

@media screen and (max-width: 600px) {
	.image-gallery{
		grid-template-areas: 
			'img-1 img-1 img-1 img-1'
			'img-2 img-2 img-2 img-2'
			'img-3 img-3 img-3 img-3'
			'img-4 img-4 img-4 img-4'
			'img-5 img-5 img-5 img-5'
			'img-6 img-6 img-6 img-6'
			'img-7 img-7 img-7 img-7'
			'img-8 img-8 img-8 img-8'
			'img-9 img-9 img-9 img-9'
			'img-10 img-10 img-10 img-10'
			'img-11 img-11 img-11 img-11'
			'img-12 img-12 img-12 img-12'
			'img-13 img-13 img-13 img-13'
			'img-14 img-14 img-14 img-14'
			'img-15 img-15 img-15 img-15'
			'img-16 img-16 img-16 img-16'
	}
}



/*-------------------*/
.descri{
	text-decoration: none;
	align-content: center;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	color:white;
}